extends layout
block links
	link(rel='stylesheet', href='/css/index.css')
block content
	#app
		.home-title-layer
			.home-title-container
				h2 #{title}
		.home-form
			.home-form-panel#j_form_panel
	script(src="js/page/index.js")
